################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
ScavengerHuntGenerator/bin/
ScavengerHuntGenerator/obj/
ScavengerHuntGenerator/Output
ScavengerHuntGenerator/Resources
ScavengerHuntGenerator/Directory.Build.Props
ScavengerHuntGenerator/.claude
